@charset "utf-8"
/* CSS Document */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,select{font-family:"微软雅黑","Microsoft YaHei";}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	-ms-touch-action: none;
}

body,ul,li {
	padding: 0;
	margin: 0;
	border: 0;
}

body,html  {
	width: 100%;
	height: 100%;
}

			#wrapper {
				width: 100%;
				height: 100%;
					position: absolute;
					z-index: 1;
					background: #62BECB;
					overflow: hidden;
				}
				
				#scroller {
					position: absolute;
					z-index: 1;
					-webkit-tap-highlight-color: rgba(0,0,0,0);
					-webkit-transform: translateZ(0);
					-moz-transform: translateZ(0);
					-ms-transform: translateZ(0);
					-o-transform: translateZ(0);
					transform: translateZ(0);
					-webkit-touch-callout: none;
					-webkit-user-select: none;
					-moz-user-select: none;
					-ms-user-select: none;
					user-select: none;
					-webkit-text-size-adjust: none;
					-moz-text-size-adjust: none;
					-ms-text-size-adjust: none;
					-o-text-size-adjust: none;
					text-size-adjust: none;
				}
			.pop{position: absolute; display: none; -webkit-transform: scale(0.8); z-index: 999; width: 350px; height: 181px; border-radius: 8px; background: #fff;}
			.pop:after {
				    border-color: #f8f1e7 transparent;
				    border-style: solid;
				    border-width: 15px 15px 0;
				    bottom: -15px;
				    content: "";
				    display: block;
				    left: 49%;
				    position: absolute;
				    width: 0;
				}
			.pop p{font-size: 2.5em; margin-left: 20px; margin-top: 20px; color:#ff0000;}
			.pop .txt{font-size: 16px; padding: 8px 17px; color: #333;}
			.pop .j_img{position: absolute;right: -3%;top: 64px;}
			.pop .j_img img{width: 33%;}
			.pop ul{position: absolute; height: 53px; background: #f8f1e7; width: 100%; bottom: 0;200px; border-radius: 8px; }
			.pop svg {float: left; margin-right: 10px;}
			.pop li{line-height: 37px;float: left; width: 33%;height: 53px; padding:3% 5%; font-size: 14px; border-right: 3px #e6dfd5 solid; }
			.pop li a{color: #9e9e9e;}
			.pop .distance{position: absolute; right: 30px; top: 30px; color: #9e9e9e;}
			.pop li:last-child{border-right: 0;}
			.btn{position: absolute; z-index: 9999;}
			#btnmain{position: absolute; top: 0; left: 0;}
			#path{position: absolute; top: 0; left: 0;}
			.pic_bg{background:#454545; width: 100%; height: 100%; position: absolute; left: 0; top: 0; z-index: 99999;}
			.pic_bg .closebtn img{width: 50%;}
			.pic_bg .closebtn{position: absolute; top: 0; right: 0;text-align: right; z-index: 5;}
			
			.swiper-container{width: 100%; height: 100%;}
			.swiper-container .swiper-slide{width: 100%;}
			.swiper-container .swiper-slide img{width: 100%; margin-top: 30%;}
			.btnlist{position: absolute; left: 0; bottom: -130px; z-index: 44; width: 100%;}
			.btnlist .mdd{
				width: 38px; 
				height: 38px;
				background: url(../images/sprite_v2_0.png) no-repeat; 
				background-size:100% auto ; 
				display: block;
				background-color:rgba(237,232,226,.8) ;
				-webkit-box-shadow:2px 2px 5px rgba(0,0,0, 0.2);
				border-radius:8px;
				margin: 2%;
				float: left;
				}
			.btnlist .bottom_btn_con
			{
				width: 38px; 
				height: 38px;
				background: url(../images/sprite_v2_1.png) no-repeat; 
				background-size:100% auto ; 
				display: block;
				background-color:rgba(237,232,226,.8) ;
				-webkit-box-shadow:2px 2px 5px rgba(0,0,0, 0.2);
				border-radius:8px;
				margin: 2%;
				float: right;
				}
			.btnlist .bottom_btn_con.on{background-position:left bottom;}
			.btnlist .mm_btnlist{
				height: 130px;
				border-top: 1px solid #746357;
				background: #F5F0E8;
				box-shadow: 0 -3px 2px rgba(44,44,44, 0.1);
			}
			.btnlist ul li{
				width: 20%;
				height: 64px;
				text-align: center;
				float: left;
				overflow: hidden;
				position: relative;
				border-bottom: 1px solid #EAE6E1;
				text-align: center;
			}
			.btnlist ul li a{ position: relative;}
			.btnlist ul li a:before{
				background: url(../images/ico_jd_btns.png) no-repeat;
				position: absolute;
				margin-left: -25px;
				left: 50%;
				top: 0;
				width: 50px;
				height: 50px;
				content: "";
				display: inline-block;
				content: "";
				-webkit-background-size: 100px auto;
			}
			 .btnlist ul li a span {
				padding-top: 40px;
				display: block;
				}
			.btnlist ul li .current {
				color: #FFF;
				background: #CC735D;
				-webkit-box-shadow: inset 0 1px 2px #A94336, inset 0 -1px 1px #C7775C;
			}
			.btnlist ul li .current:before {
				background-position-x: -50px;
			}
			 .btnlist ul .mm_0 a:before {
				background-position: 0 -450px;
			}
			 .btnlist ul .mm_1 a:before {
				background-position: 0 0;
			}
			 .btnlist ul .mm_2 a:before {
				background-position: 0 -200px;
			}
			 .btnlist ul .mm_3 a:before {
				background-position: 0 -50px;
			}
			 .btnlist ul .mm_4 a:before {
				background-position: 0 -100px;
			}
			.btnlist ul .mm_5 a:before {
				background-position:0 -250px;
			}
			.btnlist ul .mm_6 a:before {
				background-position:0 -300px;
			}
			.btnlist ul .mm_7 a:before {
				background-position:0 -350px;
			}
			.btnlist ul .mm_8 a:before {
				background-position:0 -150px;
			}
			.btnlist ul .mm_9 a:before {
				background-position:0 -400px;
			}